@model RestaurantRoulette.Models.Restaurants

@{
    ViewData["Title"] = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="result-nav navbar navbar-expand-sm navbar-dark bg-danger fixed-top">
    <div class="container">
        <div class="brand-logo">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="~/images/rr-logo.svg" alt="Restaurant Roulette" />
                Restaurant Roulette
            </a>
        </div>
    </div>
</nav>

<div class="res-block-one-padding">
    <div class="container res-block-one">
        <div class="res-img-wrapper">
            <div class="row">
                <div class="res-img">
                    <img src="@Url.Content(Model.Restaurant.Thumbnail)" alt="No Image Found"/>
                </div>
            </div>
        </div>
        <div class="res-info-wrapper">
            <div class="row">
                <div class="res-name col-lg-8 col-7">
                    <h1>@Model.Restaurant.Name</h1>
                </div>
                <div class="res-rating col-lg-4 col-5">
                    <h1>@Model.Restaurant.Ratings.AverageRating/5</h1>
                    <p>Based on: @Model.Restaurant.Ratings.NumberReview reviews</p>
                </div>
            </div>
            <div class="row">
                <div class="res-type col-8">
                    <p>@Model.Restaurant.Cuisines</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container res-block-two">
    <div class="res-contact-wrapper">
        <div class="row">
            <div class="block-two-left col-lg-6">
                <div class="row">
                    <div class="res-hours col-lg-6">
                        <h1>Opening hours</h1>
                        <p>@Model.Restaurant.Timings</p>
                    </div>
                    <div class="res-cost col-lg-6">
                        <h1>Average cost</h1>
                        <p>$@Model.Restaurant.Cost for two people (approx.)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="res-phone col-12">
                        <h1>Phone number</h1>
                        <a href="tel:@Model.Restaurant.PhoneNumber"><p>@Model.Restaurant.PhoneNumber</p></a>
                    </div>
                </div>
                <div class="row">
                    <div class="res-addr col-12">
                        <h1>Address</h1>
                        <a href="https://maps.google.com/?q=@Model.Restaurant.Locations.Address"><p>@Model.Restaurant.Locations.Address</p></a>
                    </div>
                </div>
            </div>
            <div class="block-two-right col-lg-6 col-12">
                <div class="maps-block">
                    <iframe id="gmap-canvas" src="https://maps.google.com/maps?q=@Model.Restaurant.Locations.Address&t=&z=13&ie=UTF8&iwloc=&output=embed" >
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>